@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ? =========== VARIABLES CSS ========= */
:root {
  --background-color-dark: #172554;
  --background-color-dark-secondary: #1e40af;
  --background-button-primary: #10b981;
  --text-hover-color: black;
  --text-color-dark: #f8f8f8;
  --text-color-dark-secondary: #312e81;
  --background-color-light: #f1f5f9;
  --background-color-light-secondary: #d4d4d8;
  --text-color-light: #94a3b8;
}

/* ? ========== GENERAL STYLES ========= */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

main {
  padding: 1rem 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
body {
  font-family: inherit;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #b7ace68c;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:active {
  background-color: #a050d6;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* ? ========== REUSABLE CSS CLASSES ========== */
.container {
  max-width: 1120px;
  padding: 0.5rem 2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.title_section {
  color: hsla(167, 73%, 49%, 0.945);
  text-shadow: 0px 4px 2px rgb(4, 1, 29);
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  padding: 0.5rem;
}

.title_span {
  color: var(--background-button-primary);
}

.btnPrimary {
  padding: 0.5rem 1rem;
  color: var(--text-color-dark);
  font-weight: 600;
  border-radius: 10px;
  background-color: var(--background-button-primary);
  width: fit-content;
}

.appButton:hover:not(:disabled) {
  box-shadow: 0px 3px 20px rgb(1, 27, 16);
}

/* ************************* MOBILE FIRST ************************* */

/* ? ========== HEADER ========== */
.header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background-color-dark-secondary);
  top: 0;
  left: 0;
  z-index: 2;
}

.scroll-header {
  position: fixed;
  background-color: transparent;
  transition: all 0.3s ease;
}

.scroll-header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 64, 175, 0.4);
  backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  z-index: -1;
}

.nav {
  font-size: 1.1rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.nav_logo {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--text-color-dark);
}

.nav_logo span {
  color: black;
}

.nav_menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 60%;
  max-width: 400px;
  padding: 2rem;
  height: 100%;
  backdrop-filter: blur(24px);
  transition: right 0.4s;
}

.nav_list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.nav_link {
  color: var(--text-color-dark);
}

.nav_link:hover {
  color: var(--text-hover-color);
}

.nav_active {
  right: 0;
}

.nav_toggle,
.nav_close {
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.nav_close {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

/* ? ========== HOME SECTION ========== */
.home_container {
  text-align: center;
  grid-template-rows: auto 1fr;
  place-items: center;
}

.home_content {
  color: var(--text-color-dark);
  display: grid;
  height: 100%;
  grid-template-rows: fit-content fit-content;
  row-gap: 2rem;
}

.home_data h3 {
  font-size: 1.3rem;
}

.home_data h2 {
  font-size: 1.6rem;
  text-wrap: balance;
}

.home_description {
  margin: 1rem 2rem;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social_icon {
  color: var(--text-color-dark);
  font-size: 2rem;
  background-color: #10b981;
  width: 3rem;
  height: 3rem;
  border-radius: 999px;
  display: grid;
  place-items: center;
}

.photo_container {
  background-color: #3d399491;
  border-radius: 48% 52% 68% 32% / 52% 23% 77% 48%;
  width: 100%;
  max-width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.photo {
  width: 100%;
}

/* ? ========== PROJECTS SECTION ========== */
.cards_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.project_card {
  display: grid;
  background-color: #11183d;
  width: 80%;
  max-height: 500px;
  overflow: hidden; /* Añade esto */
}

.project_thumbnail_container {
  position: relative;
  overflow: hidden;
}

.project_data {
  padding: 0.5rem;
  overflow: auto;
}

.project_thumbnail {
  object-fit: fill;
  object-position: center center;
  width: 100%;
  height: 100%;
}

.project_description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: rgba(2, 0, 15, 0.95);
  overflow: auto;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.project_thumbnail_container:hover .project_description {
  opacity: 1;
  visibility: visible;
}

.data_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.project_link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #e5cfff;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.deploy_arrow {
  width: 20px;
  transition: all 0.3s ease;
}

.project_link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #e5cfff;
  bottom: 0px;
  left: 0;
  transform: scaleX(0); /* * Inicialmente, la línea de subrayado está oculta */
  transform-origin: center;
  transition: transform 0.3s ease;
}

.project_link:hover::before {
  transform: scaleX(
    1
  ); /* * Mostrar el subrayado al pasar el mouse sobre el enlace */
}

.project_link:hover .deploy_arrow {
  transform: scale(1.5);
}

.project_data h3 {
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.technology_list {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  overflow: auto;
}

.tech_item {
  background-color: #050711;
  border-radius: 3px;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  padding: 2px 4px;
  gap: 5px;
}

.tech_item img {
  width: 1rem;
  height: 1rem;
}

.tech_item p {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 2px;
}

/* ? ========== CONTACT SECTION ========== */
.contact_container {
  display: grid;
  place-items: center;
  gap: 1.5rem;
}

.contact_form,
.contact_group {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.contact_input {
  font-size: 1rem;
  width: 100%;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  background-color: #11183d;
  color: var(--background-color-light);
  outline: none;
  border: 3px solid transparent;
  transition: border 0.08s linear;
}

.contact_input:focus {
  border-color: #4050a0;
}

.contact_input::placeholder {
  color: #9099c9;
}

.contact_form textarea {
  height: 11rem;
  resize: none;
}

.btnSubmit {
  justify-self: center;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: var(--text-color-dark);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  background-color: var(--background-button-primary);
  width: fit-content;
}

.btnSubmit:disabled {
  background-color: #64a18d;
  cursor: not-allowed;
}

/* ? ============ BREAKPOINTS ============ */
@media screen and (max-width: 280px) {
  body,
  html {
    overflow: hidden;
  }
}

@media screen and (max-width: 420px) {
  .data_header {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .project_card {
    width: 100%;
  }
}

@media screen and (min-width: 1023px) {
  /* ? HEADER */
  .nav_toggle,
  .nav_close {
    display: none;
  }

  .nav_menu {
    width: initial;
    position: static;
    backdrop-filter: none;
    max-width: none;
    padding: 0;
  }

  .nav_list {
    flex-direction: row;
  }

  /* ? HOME SECTION */
  .home_container {
    text-align: unset;
    grid-template-columns: 1fr 1fr;
  }

  .home_content {
    height: unset;
  }

  .home_description {
    margin: 1rem 0;
  }

  .social {
    justify-content: flex-start;
  }
}
