@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ? =========== VARIABLES CSS ========= */
:root {
  --background-color-dark: #172554;
  --background-color-dark-secondary: #1e40af;
  --text-hover-color: black;
  --text-color-dark: #f8f8f8;
  --text-color-dark-secondary: #312e81;
  --background-color-light: #f1f5f9;
  --background-color-light-secondary: #d4d4d8;
  --text-color-light: #94a3b8;
  --text-color-light-secondary: #10b981;
}

/* ? ========== GENERAL STYLES ========= */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color-dark);
  color: var(--text-color-light);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ? ========== REUSABLE CSS CLASSES ========== */
.container {
  max-width: 1120px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* ? ========== HEADER ========== */
.header {
  position: fixed;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background-color-dark-secondary);
  top: 0;
  left: 0;
  z-index: 2;
}

.nav {
  font-size: 1.1rem;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex: 1;
}

.nav_logo {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--text-color-dark);
}

.nav_logo span {
  color: black;
}

.nav_list {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 60%;
  height: 100%;
  /* * Para que no sea vea */
  visibility: hidden;
  transform: translateX(20px);
  transition: transform 0.3s ease;
}

.nav_link {
  color: var(--text-color-dark);
}

.nav_link:hover {
  color: var(--text-hover-color);
}

.nav_active {
  visibility: visible;
  backdrop-filter: blur(20px);
  max-width: 400px;
  padding: 2rem;
  transform: translateX(0);
}

.nav_toggle,
.nav_close {
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.nav_close {
  display: none;
  z-index: 10;
}

/* ? NAV FOR MEDIUM-LARGE DEVICES. */
@media screen and (min-width: 1023px) {
  .nav_toggle,
  .nav_close {
    display: none;
  }

  .nav_list {
    position: static;
    flex-direction: row;
    visibility: visible;
    justify-content: center;
  }
}
