@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ? =========== VARIABLES CSS ========= */
:root {
  --background-color-dark: #172554;
  --background-color-dark-secondary: #1e40af;
  --background-button-primary: #10b981;
  --text-hover-color: black;
  --text-color-dark: #f8f8f8;
  --text-color-dark-secondary: #312e81;
  --background-color-light: #f1f5f9;
  --background-color-light-secondary: #d4d4d8;
  --text-color-light: #94a3b8;
}

/* ? ========== GENERAL STYLES ========= */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color-dark);
  color: var(--text-color-light);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button,
body {
  font-family: inherit;
}

/* ? ========== REUSABLE CSS CLASSES ========== */
.container {
  max-width: 1120px;
  padding: 0.5rem 2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.title_span {
  color: var(--background-button-primary);
}

.btnPrimary {
  padding: 0.5rem 1rem;
  color: var(--text-color-dark);
  font-weight: 600;
  border-radius: 10px;
  background-color: var(--background-button-primary);
  width: fit-content;
}

/* ************************* MOBILE FIRST ************************* */

/* ? ========== HEADER ========== */
.header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background-color-dark-secondary);
  top: 0;
  left: 0;
  z-index: 2;
}

.nav {
  font-size: 1.1rem;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.nav_logo {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--text-color-dark);
}

.nav_logo span {
  color: black;
}

.nav_menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 60%;
  max-width: 400px;
  padding: 2rem;
  height: 100%;
  backdrop-filter: blur(24px);
  transition: right 0.4s;
}

.nav_list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.nav_link {
  color: var(--text-color-dark);
}

.nav_link:hover {
  color: var(--text-hover-color);
}

.nav_active {
  right: 0;
}

.nav_toggle,
.nav_close {
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.nav_close {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

/* ? ========== HOME SECTION ========== */
.home_container {
  text-align: center;
  place-items: center;
}

.home_content {
  color: var(--text-color-dark);
  display: grid;
  row-gap: 2rem;
}

.home_data h3 {
  font-size: 1.3rem;
}

.home_data h2 {
  font-size: 1.6rem;
}

.home_description {
  margin: 1rem 0;
}

.btnResume {
  margin-top: 2rem;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social_icon {
  color: var(--text-color-dark);
  font-size: 2rem;
  background-color: #10b981;
  width: 48px;
  height: 48px;
  border-radius: 999px;
  display: grid;
  place-items: center;
}

.photo {
  max-width: 400px;
}

/* ? ============ BREAKPOINTS ============ */
@media screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (min-width: 1023px) {
  /* ? HEADER */
  .nav_toggle,
  .nav_close {
    display: none;
  }

  .nav_menu {
    width: initial;
    position: static;
    backdrop-filter: none;
    max-width: none;
    padding: 0;
  }

  .nav_list {
    flex-direction: row;
  }

  /* ? HOME SECTION */
  .home_container {
    text-align: unset;
    grid-template-columns: 1fr 1fr;
  }

  .social {
    justify-content: flex-start;
  }
}
